.container{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.abc{
    display: flex;
    justify-content: flex-end;
}


.title{
    display: flex;
    align-items: flex-end;
}
.container1{display: flex;
justify-content: space-around;

}
.container2{display: flex;
    font-family: Work Sans,Arial,sans-serif;
justify-content: space-around;
color: #00b39b;
}
.container3{display: flex;
align-items: center;
color: gray;
max-width: 1000px;
margin: 0 auto;
}
.container4{display: block;
    height: 250px;
    width: 300px;
    background: #00b39b;
    color: white;
border-radius: 5%;
}

t{align-items: center;}
.container-links{color: #00b39b;}



